<div class="setup" id="feed-setup">
  <h1><%= t('sessions.new.title') %> <span class="orange"><%= t('sessions.new.rss') %></span>.</h1>
  <h2><%= t('sessions.new.subtitle') %></h2>

  <hr />

  <%= form_with(url: "/login") do |form| %>
    <p><%= t('sessions.new.fields.unknown_username_html') %></p>
    <div class="control-group">
      <%= form.text_field :username, class: "form-control", required: true %>
      <%= form.label :username, t('sessions.new.fields.username'), class: "field-label" %>
    </div>

    <div class="control-group">
      <input name="password" class="form-control" id="password" type="password" required />
      <i class="icon-lock field-icon"></i>
      <label id="password-label" class="field-label" for="password"><%= t('sessions.new.fields.password') %></label>
    </div>
    <input type="submit" value="<%= t('sessions.new.fields.submit') %>" class="btn btn-primary pull-right" />
  <% end %>

  <% if Setting::UserSignup.enabled? %>
    <div>
      <%= t('.sign_up_html', href: setup_password_path) %>
    </div>
  <% end %>
</div>
