<nav>
  <div>
    <a class="btn" id="home" href="/news" title="<%= t('partials.feed_action_bar.home') %>">
      <i class="fa fa-reply"></i>
    </a>
  </div>

  <div>
    Logged in as <%= link_to(current_user.username, edit_profile_path) %>
  </div>

  <div>
    <a class="btn btn-primary" id="starred" href="/starred" title="<%= t('partials.feed_action_bar.starred_stories') %>">
      <i class="fa fa-star"></i>
    </a>
    <a class="btn btn-primary" id="archive" href="/archive" title="<%= t('partials.feed_action_bar.archived_stories') %>">
      <i class="fa fa-clock-o"></i>
    </a>
    <a class="btn btn-primary" id="feeds" href="/feeds" title="<%= t('partials.feed_action_bar.feeds') %>">
      <i class="fa fa-list"></i>
    </a>
    <a class="btn btn-primary" id="add-feed" href="/feeds/new" title="<%= t('partials.feed_action_bar.add_feed') %>">
      <i class="fa fa-plus"></i>
    </a>
  </div>
</nav>
