<li class="feed" id="feed-<%= feed.id%>" data-id="<%= feed.id %>">
  <div class="feed-line">
    <div class="feed-title-container">
      <p class="feed-title <%= feed.unread_stories_count > 0 ? "feed-unread" : "" %>">
        <i class="icon-circle status <%= feed.status_bubble %>" data-toggle="tooltip" title="<%= t("partials.feed.status_bubble.#{feed.status_bubble}") if feed.status_bubble %>" data-placement="left"></i>
        <a href="/feed/<%= feed.id %>">
          <% if feed.unread_stories_count > 0 %>
            (<%= feed.unread_stories_count %>)
          <% end %>
          <%= feed.name %>
        </a>
      </p>
    </div>
    <div class="feed-actions">
      <div class="feed-last-updated">
        <span class="last-updated"><%= t('partials.feed.last_updated') %></span>
        <span class="last-updated-time">
          <% if feed.last_fetched %>
            <%= I18n.l(feed.last_fetched) %>
          <% else %>
            <%= t("partials.feed.last_fetched.never") %>
          <% end %>
        </span>
      </div>
      <span class="read-feed">
        <a class="icon-external-link" aria-label="visit feed site" href="<%= feed.url %>"></a>
      </span>
      <span class="edit-feed">
        <a class="icon-edit" aria-label="Edit" href="<%= "/feeds/#{feed.id}/edit" %>"></a>
      </span>
      <%= button_to("/feeds/#{feed.id}", method: :delete, class: "remove-feed btn-link", aria: { label: "Delete" }) do %>
        <a class="icon-remove"></a>
      <% end %>
    </div>
  </div>
</li>
