<div class="row" data-controller="hotkeys mark-all-as-read" data-action="keydown@document->hotkeys#handleKeydown">
  <div class="pull-left">
    <a class="btn" id="home" href="/news" title="<%= t('partials.feed_action_bar.home') %>">
      <i class="fa fa-reply"></i>
    </a>
    <a class="btn" id="mark-all" title="<%= t('partials.action_bar.mark_all') %>" data-action="click->mark-all-as-read#submit" data-hotkeys-target="click" data-hotkey="A">
      <i class="fa fa-check"></i>
      <%= render "stories/mark_all_as_read_form", {stories: stories} %>
    </a>
    <a class="btn" href="<%= "/feed/#{@feed.id}" %>" id="refresh" title="<%= t('partials.action_bar.refresh') %>" data-hotkeys-target="click" data-hotkey="r">
      <i class="fa fa-refresh"></i>
    </a>
  </div>

  <div class="pull-right">
    <a class="btn btn-primary" id="starred" href="/starred" title="<%= t('partials.action_bar.starred_stories') %>">
      <i class="fa fa-star"></i>
    </a>
    <a class="btn btn-primary" id="archive" href="/archive" title="<%= t('partials.action_bar.archived_stories') %>">
      <i class="fa fa-clock-o"></i>
    </a>
    <a class="btn btn-primary" id="feeds" href="/feeds" title="<%= t('partials.action_bar.view_feeds') %>">
      <i class="fa fa-list"></i>
    </a>
    <a class="btn btn-primary" id="add-feed" href="/feeds/new" title="<%= t('partials.action_bar.add_feed') %>" data-hotkeys-target="click" data-hotkey="a">
      <i class="fa fa-plus"></i>
    </a>
  </div>
</div>
