<div id="action-bar">
  <%= render_partial :feed_action_bar %>
</div>

<div class="setup" id="add-feed-container">
  <h1><%= t('feeds.add.title') %></h1>
  <hr />
  <p><%= t('feeds.add.description') %></p>
  <hr />
  <form id="add-feed-setup" method="POST" action="/feeds">
    <div class="control-group">
      <input name="feed_url" id="feed-url" type="text" autofocus="autofocus" value="<%= @feed_url %>"/>
      <i class="icon-rss field-icon"></i>
      <label id="feed_url-label" class="field-label" for="feed_url"><%= t('feeds.add.fields.feed_url') %></label>
    </div>

    <input type="submit" id="submit" class="btn btn-primary pull-right" value="<%= t('feeds.add.fields.submit') %>"/>
  </form>
</div>
