<div id="action-bar">
  <%= render_partial :feed_action_bar %>
</div>

<div class="setup" id="add-feed-container">
  <h1><%= @feed.name %></h1>
  <hr />
    <form id="add-feed-setup" method="POST" action="/feeds/<%= @feed.id %>">
      <input type="hidden" name="_method" value="PUT">
      <input type="hidden" name="feed_id" value="<%= @feed.id %>">
      <div class="control-group">
        <input name="feed_name" id="feed-name" type="text" value="<%= @feed.name %>" required />
        <i class="icon-pencil field-icon"></i>
        <label id="feed_alias-label" class="field-label" for="feed_alias"><%= t('feeds.edit.fields.feed_name') %></label>
      </div>
      <div class="control-group">
        <input name="feed_url" id="feed-url" type="text" value="<%= @feed.url %>" autofocus required />
        <i class="icon-rss field-icon"></i>
        <label id="feed_url-label" class="field-label" for="feed_url"><%= t('feeds.edit.fields.feed_url') %></label>
      </div>
      <% if Group.any? %>
        <div class="control-group">
          <input type="text" class="select-dummy" tabindex="-1">
          <select name="group_id" id="group-id">
            <option value=""></option>
            <% Group.all.each do |group| %>
              <option value="<%= group.id %>" <%= "selected" if @feed.group_id == group.id %>><%= group.name %></option>
            <% end %>
          </select>
          <label id="group_id-label" class="field-label" for="group_id"><%= t('feeds.edit.fields.group') %></label>
        </div>
      <% end %>

    <input type="submit" id="submit" class="btn btn-primary pull-right" value="<%= t('feeds.edit.fields.submit') %>"/>
  </form>
</div>
