<li class="feed" id="feed-<%= feed.id%>" data-id="<%= feed.id %>">
  <div class="row-fluid feed-line">
    <div class="span7 feed-title-container">
      <p class="feed-title <%= feed.has_unread_stories ? "feed-unread" : "" %>">
        <i class="icon-circle status <%= feed.status_bubble %>" data-toggle="tooltip" title="<%= t("partials.feed.status_bubble.#{feed.status_bubble}") if feed.status_bubble %>" data-placement="left"></i>
        <a href="/feed/<%= feed.id %>">
          <% if feed.has_unread_stories %>
            (<%= feed.unread_stories.count %>)
          <% end %>
          <%= feed.name %>
        </a>
      </p>
    </div>
    <div class="span3 feed-last-updated">
      <span class="last-updated"><%= t('partials.feed.last_updated') %></span>
      <span class="last-updated-time">
        <% if feed.last_fetched %>
          <%= I18n.l(feed.last_fetched) %>
        <% else %>
          <%= t("partials.feed.last_fetched.never") %>
        <% end %>
      </span>
    </div>
    <div class="span2">
      <span class="read-feed">
        <a class="icon-external-link" href="<%= feed.url %>"></a>
      </span>
      <span class="edit-feed">
        <a class="icon-edit" href="<%= "/feeds/#{feed.id}/edit" %>"></a>
      </span>
      <span class="remove-feed">
        <a class="icon-remove"></a>
      </span>
    </div>
  </div>
</li>
