<div class="row-fluid">
  <div class="pull-left">
    <a class="btn" id="home" href="/news" title="<%= t('partials.feed_action_bar.home') %>">
      <i class="icon-reply"></i>
    </a>
  </div>

  <div class="pull-right">
    <a class="btn btn-primary" id="starred" href="/starred" title="<%= t('partials.feed_action_bar.starred_stories') %>">
      <i class="icon-star"></i>
    </a>
    <a class="btn btn-primary" id="archive" href="/archive" title="<%= t('partials.feed_action_bar.archived_stories') %>">
      <i class="icon-time"></i>
    </a>
    <a class="btn btn-primary" id="feeds" href="/feeds" title="<%= t('partials.feed_action_bar.feeds') %>">
      <i class="icon-list"></i>
    </a>
    <a class="btn btn-primary" id="add-feed" href="/feeds/new" title="<%= t('partials.feed_action_bar.add_feed') %>">
      <i class="icon-plus"></i>
    </a>
  </div>
</div>
