<li class="feed" id="feed-<%= feed.id%>" data-id="<%= feed.id %>">
  <div class="row-fluid feed-line">
    <div class="span7 feed-title-container">
      <div class="status <%= feed.status_bubble %>"></div>
      <p class="feed-title">
        <a href="<%= feed.url %>"><%= feed.name %></a>
      </p>
    </div>
    <div class="span4 feed-last-updated">
      <span class="last-updated"><%= t('partials.feed.last_updated') %></span>
      <span class="last-updated-time">
        <% if feed.last_fetched %>
          <%= feed.last_fetched.strftime("%b %d, %H:%M") %>
        <% else %>
          Never
        <% end %>
      </span>
    </div>
    <div class="span1 remove-feed">
      <a class="icon-remove"></a>
    </div>
  </div>
</li>
