<div class="container">
  <div class="row-fluid">
    <div class="span6">
      <ul class="footer-links">
        <% if current_user %>
          <li><a href="/logout"><%= t('layout.logout') %></a></li>
          <li class="muted">路</li>
          <li><a href="/feeds/import"><%= t('layout.import') %></a></li>
          <li class="muted">路</li>
          <li><a href="/feeds/export"><%= t('layout.export') %></a></li>
          <li class="muted">路</li>
          <li><a href="#shortcuts" data-toggle="modal"><i class="icon-keyboard"></i></a></li>
          <li class="muted">路</li>
        <% end %>

        <li><a href="https://github.com/swanson/stringer"><%= t('layout.support') %></a></li>
      </ul>
    </div>
    <div class="span6">
      <p class="pull-right">
        <b><%= t('layout.hey') %></b> <%= t('layout.back_to_work') %>
      </p>
    </div>
  </div>
</div>
