<div id="shortcuts" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= t('partials.shortcuts.title') %></h3>
  </div>
  <div class="modal-body">
    <ul class="shortcut-legend">
      <li><kbd>j</kbd>/<kbd>k</kbd>: <%= t('partials.shortcuts.keys.jk') %></li>
      <li><kbd>n</kbd>/<kbd>p</kbd>: <%= t('partials.shortcuts.keys.np') %></li>
      <li><kbd>o</kbd> <%= t('partials.shortcuts.keys.or') %> <kbd>enter</kbd>: <%= t('partials.shortcuts.keys.oenter') %></li>
      <li><kbd>m</kbd>: <%= t('partials.shortcuts.keys.m') %></li>
      <li><kbd>s</kbd>: <%= t('partials.shortcuts.keys.s') %></li>
      <li><kbd>v</kbd>: <%= t('partials.shortcuts.keys.v') %></li>
      <li class="blank"></li>
      <li><kbd>a</kbd>: <%= t('partials.shortcuts.keys.a') %></li>
      <li><kbd>shift</kbd>+<kbd>a</kbd>: <%= t('partials.shortcuts.keys.shifta') %></li>
      <li><kbd>f</kbd>: <%= t('partials.shortcuts.keys.f') %></li>
      <li><kbd>r</kbd>: <%= t('partials.shortcuts.keys.r') %></li>
      <li class="blank"></li>
      <li><kbd>&larr;</kbd>: <%= t('partials.shortcuts.keys.left') %></li>
      <li><kbd>&rarr;</kbd>: <%= t('partials.shortcuts.keys.right') %></li>
    </ul>
  </div>
</div>
