<div id="action-bar">
  <%= render "feeds/action_bar" %>
</div>

<% unless @read_stories.empty? %>
  <div id="stories" data-controller="story-list" data-action="keydown@document->story-list#handleKeydown story:read->story-list#storyRead">
    <ul id="story-list">
      <%= render partial: "stories/story", collection: @read_stories, as: :story %>
    </ul>
  </div>

  <div id="pagination" data-controller="hotkeys" data-action="keydown@document->hotkeys#handleKeydown">
  <% if @read_stories.previous_page %>
    <a id="prev_page" href="?page=<%= @read_stories.previous_page %>" data-hotkeys-target="click" data-hotkey="ArrowLeft"><%= t('archive.previous') %></a>
  <% end %>

  <% if @read_stories.total_pages > 1 %>
    <%= @read_stories.current_page %> <%= t('archive.of') %> <%= @read_stories.total_pages %>
  <% end %>

  <% if @read_stories.next_page %>
    <a id="next_page" href="?page=<%= @read_stories.next_page %>" data-hotkeys-target="click" data-hotkey="ArrowRight"><%= t('archive.next') %></a>
  <% end %>
  </div>
<% else %>
  <div id="sorry">
    <p><%= t('archive.sorry') %></p>
  </div>
<% end %>
