<% content_for :title do %>
  <% unless @unread_stories.empty? %>
    <%= "(#{@unread_stories.count})" %>
  <% end %>
<% end %>

<div id="action-bar">
  <%= render "stories/action_bar", { stories: @unread_stories } %>
</div>

<% if @unread_stories.empty? %>
  <%= render "stories/zen" %>
<% else %>
  <%= render "stories/js", { stories: @unread_stories } %>
  
  <div id="stories" data-controller="unread-count" data-action="story:read-changed->unread-count#update" data-unread-count-title-value="<%= t('layout.title') %>">
    <ul id="story-list">
    </ul>
  </div>
<% end %>
