<div class="setup" id="password-setup">
  <h1><%= t('first_run.password.title') %> <span class="orange"><%= t('first_run.password.anti_social') %></span>.</h1>
  <h2><%= t('first_run.password.subtitle') %></h2>
  <hr />
  <p><%= t('first_run.password.description') %></p>
  <hr />
  <%= form_with(model: User.new, url: "/setup/password", id: "password_setup") do |form| %>
    <div class="control-group">
      <%= form.text_field :username, class: "form-control", required: true %>
      <%= form.label :username, t('first_run.password.fields.username'), class: "field-label" %>
    </div>

    <div class="control-group">
      <%= form.password_field :password, class: "form-control", required: true %>
      <i class="icon-lock field-icon"></i>
      <%= form.label :password, t('first_run.password.fields.password'), class: "field-label" %>
    </div>

    <div class="control-group">
      <%= form.password_field :password_confirmation, class: "form-control", required: true %>
      <i class="icon-lock field-icon"></i>
      <%= form.label :password_confirmation, t('first_run.password.fields.password_confirmation'), class: "field-label" %>
    </div>

    <input type="submit" id="submit" class="btn btn-primary pull-right" value="<%= t('first_run.password.fields.next') %>"/>
  <% end %>
</div>
