<div class="setup" id="password-setup">
  <h1><%= t('first_run.password.title') %> <span class="orange"><%= t('first_run.password.anti_social') %></span>.</h1>
  <h2><%= t('first_run.password.subtitle') %></h2>
  <hr />
  <p><%= t('first_run.password.description') %></p>
  <hr />
  <form id="password_setup" method="POST" action="/setup/password">
    <input class="hidden" value="username" />
    <div class="control-group">
      <input name="password" id="password" type="password" autofocus />
      <i class="icon-lock field-icon"></i>
      <label id="password-label" class="field-label" for="password"><%= t('first_run.password.fields.password') %></label>
    </div>
    <div class="control-group">
      <input name="password_confirmation" id="password-confirmation" type="password" />
      <i class="icon-lock field-icon"></i>
      <label id="confirm-label" class="field-label" for="password_confirmation"><%= t('first_run.password.fields.password_confirmation') %></label>
    </div>

    <input type="submit" id="submit" class="btn btn-primary pull-right" value="<%= t('first_run.password.fields.next') %>"/>
  </form>
</div>
