<div id="action-bar">
  <%= render_partial :feed_action_bar %>
</div>

<% unless @read_stories.empty? %>
<div id="stories">
  <ul id="story-list">
    <% @read_stories.each do |story| %>
      <%= render_partial :story, { story: story } %>
    <% end %>
  </ul>
</div>
<div id="pagination">
  <% if @read_stories.previous_page %>
    <a href="?page=<%= @read_stories.previous_page %>"><i class="icon-double-angle-left"></i> <%= t('archive.previous') %></a>
  <% end %>
  Page <%= @read_stories.current_page %> of <%= @read_stories.total_pages %>
  <% if @read_stories.next_page %>
    <a href="?page=<%= @read_stories.next_page %>"><%= t('archive.next') %> <i class="icon-double-angle-right"></i></a>
  <% end %>
</div>
<% else %>
  <div id="sorry">
    <p><%= t('archive.sorry') %></p>
  </div>
<% end %>