<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= yield_content :title %>
      stringer | your rss buddy
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/flat-ui-no-icons.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>

    <%= yield_content :head %>
  </head>
  <body>
    <div id="wrap">
      <div id="frame">
        <%= render_partial :flash %>
        <div class="container">
          <div class="row-fluid">
            <div class="span12">
              <%= yield %>
            </div>
          </div>       
        </div>
      </div>

      <div id="push"></div>
    </div>

    <div id="footer">
      <%= yield_content :footer %>
    </div>
  </body>
</html>