<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= yield_content :title %>
      <%= t('layout.title') %>
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/img/favicon.png">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/flat-ui-no-icons.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/mousetrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>

    <%= yield_content :head %>
  </head>
  <body>
    <div id="wrap">
      <div id="frame">
        <%= render_partial :flash %>
        <%= render_partial :shortcuts  if current_user %>
        <div class="container">
          <div class="row-fluid">
            <div class="span12">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>

      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <div class="row-fluid">
          <div class="span6">
            <ul class="footer-links">
              <% if current_user %>
                <li><a href="/logout"><%= t('layout.logout') %></a></li>
                <li class="muted">·</li>
                <li><a href="/export"><%= t('layout.export') %></a></li>
                <li class="muted">·</li>
              <% end %>

              <li><a href="https://github.com/swanson/stringer"><%= t('layout.support') %></a></li>
            </ul>
          </div>
          <div class="span6">
            <p class="pull-right">
              <b><%= t('layout.hey') %></b> <%= t('layout.back_to_work') %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
