<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= yield_content :title %>
      <%= t('layout.title') %>
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/img/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon-precomposed.png">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic" rel="stylesheet" type="text/css">

    <%= yield_content :head %>

    <%= css :application %>
    <%= js  :application %>
  </head>
  <body>
    <div id="wrap">
      <div id="frame">
        <%= render_partial :flash %>
        <%= render_partial :shortcuts  if current_user %>
        <div class="container">
          <div class="row-fluid">
            <div class="span12">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>

      <div id="push"></div>
    </div>

    <div id="footer">
      <%= render_partial :footer %>
    </div>

    <script>
      window.i18n = {};
      window.i18n.titleName = "<%= t('layout.title') %>";
    </script>
  </body>
</html>
